/* Merriweather & Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Montserrat:wght@400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  li {
    @apply text-light-text dark:text-dark-text;
  }

  hr {
    @apply mb-8 border-black dark:border-white border-opacity-20 dark:border-opacity-20;
  }

  li {
    @apply mb-1
  }
}

@layer components {

  /* blockquote */
  .blockquote {
    margin: 20px 0px;
    padding: 5px 10px;
    border: #b6b6b6 1px solid;
    border-left: 7px solid #F52F57;
    /* background-color: #EDEDF4; */
    font-style: italic;
    border-radius: 5px;
    @apply text-light-text dark:text-dark-text bg-slate-200 dark:bg-slate-700
  }
}